body {
  margin: 0px;
}

.container {
  width: 800px;
  margin: 0px auto;
  display: flex;
  flex-wrap: wrap;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

header {
  width: 100%;
  border: 2px solid gray;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.content {
  width: 650px;
  border: 1px solid gray;
  padding: 40px;
  box-sizing: border-box;
}

nav.sidebar {
  width: 150px;
  background: rgb(209, 209, 209);
  border: 1px solid gray;
  box-sizing: border-box;
  display: flex;
  flex-direction: column; /* untuk membuat navbar vertikal*/
}

/* setting daftar nama menu*/
nav.sidebar a {
  color: black;
  padding: 20px;
  display: block;
  text-decoration: none;
  border-bottom: 1px solid white;
  font-style: oblique;
  font-weight: bold;
}

/*membuat efek sentuhan*/
nav.sidebar a:hover {
  background: ivory;
}

/*membuat efek halaman yang diakses*/
nav.sidebar a.active {
  background: grey;
}

footer {
  width: 100%;
  padding: 10px 20px;
  border: 2px solid gray;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  text-align: right;
}
