table {
  border-collapse: collapse;
  border: 1px solid black;
  width: 100%;
}

th,
td {
  border: 1px solid black;
  padding: 5px 10px;
}

th {
  background: cadetblue;
}

.no {
  width: 15px;
}
caption {
  text-align: left;
  font-weight: bold;
  font-size: 20;
  margin-bottom: 5px;
}
